@media (max-width: 600px) {

    .sec-header {
        padding: 30px 25px;
    }

    .sec-header .navbar .content {
        display: flex;
        flex-direction: column;
    }

    .sec-header .navbar ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 30px 30px;
        gap: 30px;
    }

    .sec-header .navbar img {
        width: 50%;
    }

    .sec-header .hero .content {
        display: flex;
        flex-direction: column;
    }

    .sec-header .hero img {
        width: 100%;
    }

    .sec-header h1 {
        font-size: 64px;
    }

    .sec-feature {
        padding: 0px;
    }

    .sec-feature .content {
        border-radius: unset;
        box-shadow: none;
    }

    .sec-feature h3 {
        font-size: 48px;
        text-align: center;
    }

    .sec-feature .icon-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 80px;
    }

    .sec-benefits {
        padding: 25px;
    }

    .sec-benefits .text-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }

    .sec-benefits .benefit-group {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .sec-about-us {
        padding: 25px;
    }

    .sec-about-us .content {
        display: flex;
        flex-direction: column;
    }

    .sec-about-us .content img {
        width: 100%;
    }

    .sec-about-us .content .right h2 {
        font-size: 40px;
    }
    
    .sec-banner-counter {
        margin-top: 30px;
        padding: 0px;
    }

    .sec-banner-counter .content {
        border-radius: unset;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .sec-banner-counter .content .group {
        width: 30%;
    }

    .sec-banner-counter .content .group img {
        width: 50%;
    }

    .sec-knowledge-base {
        margin-top: 30px;
        padding: 0px 25px;
    }
    
    .sec-knowledge-base .content {
        display: flex;
        flex-direction: column;
    }

    .sec-knowledge-base .left h2 {
        font-size: 40px;
    }

    .sec-knowledge-base .right img {
        width: 100% ;
    }

    .sec-member {
        margin-top: 30px;
        padding: 0px 25px;
    }

    .sec-member .heading h2 {
        font-size: 40px;
        text-align: center;
    }

    .sec-member .heading .frame {
        display: flex;
        flex-wrap: wrap;
        border-radius: unset;
    }

    .sec-member .trainer-group {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .sec-testimonial {
        padding: 25px;
    }

    .sec-testimonial .heading h2 {
        font-size: 40px;
        text-align: center;
    }

    .sec-testimonial .content-group {
        display: flex;
        flex-direction: column;
    }

    .sec-testimonial .content-group .frame {
        margin-bottom: 10px;
        gap: 20px;
        justify-content: center;
    }

    .sec-banner-enroll {
        padding: 0px;
    }

    .sec-banner-enroll .content {
        border-radius: unset;
        padding: 30px;
    }

    .sec-banner-enroll h2 {
        font-size: 32px;
    }

    .sec-blog {
        padding: 10px;
        margin-top: 30px;
    }

    .sec-blog .title-content {
        margin-bottom: 30px;
    }

    .sec-blog .title-content h2 {
        font-size: 40px;
    }

    .sec-blog .article-group .row-content .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 22.6%;
        padding: 0px;
        gap: unset;
    }

    .sec-blog .article-group .row-content img {
        width: unset;
    }
    
    .sec-blog .article-group .row-content .blog-content h4 {
        font-size: 18px;
    }

    .sec-bottom-navigation {
        padding: 25px;
    }

    .sec-bottom-navigation .content {
        display: flex;
        flex-wrap: wrap;
        gap: unset;
    }

    .sec-bottom-navigation .content ul {
        text-align: center;
    }

    .sec-bottom-navigation .content .widget h3 {
        text-align: center;
    }

}