/* RESET CSS HTML */

html, body {
    margin: 0;
    padding: 0;
}

/* COMMON STYLE */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: "Catamaran", sans-serif;
}

li {
    list-style-type: none;
}

.badge {
    display: inline-block;
    background-color: white;
    border-radius: 128px;
    padding: 10px 20px;
    font-weight: bold
}  

.badge.badge-primary {
    background-color: rgb(202, 198, 255, .1);
    color: white;
}

.badge.badge-info {
    background-color: rgb(110, 210, 239, .1);
    color: #6ED2EF;
}

.badge.badge-danger {
    background-color: rgb(255, 125, 86, .1);
    color: #FF7D56;
}

.badge.badge-secondary {
    background-color: rgb(98, 45, 182, .1);
    color: #6100C1;
}

p {
    font-family: "Lato", sans-serif;
    color: #878799;
    margin: 0;
}

.btn {
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 130px;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: #B2D93A;
}

.btn.btn-danger {
    background-color: #FF7D56;
}

.btn.btn-secondary {
    background-color: #6100C1;
}

.btn.btn-outline-info {
    background-color: white;
    color: #6ED2EF;
    border: 2px solid #6ED2EF;
    border-radius: 100px;
}

.color-darkblue {
    color: #222F5E;
}

.color-lightblue {
    color: #6ED2EF;
}

.color-orange {
    color: #FF7D56;
}

.color-purple {
    color: #6100C1
}

.color-palm {
    color: #B2D93A;
}

h4 {
    margin: 0;
}

h2 {
    margin: 0;
}

.label {
    border-radius: 100px;
    padding: 4px 16px;
    color: white;
    align-self: baseline;
}

.label.label-danger {
    background-color: #FF7D56;
}

.label.label-warning {
    background-color: #FDCF3F;
}

.label.label-info {
    background-color: #6ED2EF;
}

.label.label-success {
    background-color: #B2D93A;
}

.label.label-secondary {
    background-color: #6100C1;
}

.label.label-primary {
    background-color: #4F94FB;
}

/* STYLE HEADER */

.sec-header {
    background-color: #6100C1;
}

.sec-header .navbar .content {
    display: flex;
    justify-content: space-between;
}

.sec-header  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-header  .navbar a {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    transition: 0.5s;
}

.sec-header  .navbar a:hover {
    background-color: rgb(202, 198, 255, .1);
    border-radius: 149px;
    transition: 0.5s;
}

.sec-header .hero .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec-header h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 86px;
    color: white;
    margin-bottom: 16px;
    margin-top: 16px;
}

.sec-header p {
    font-size: 20px;
    color: white;
    padding-bottom: 24px;
}

/* STYLE FEATURE */

.sec-feature {
    background-color: #FDFDFF;
    padding: 53px 76px;
}

.sec-feature .content {
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 79px 40px;
}
.sec-feature h3 {
    font-size: 32px;
    font-weight: 900;
}

.sec-feature .icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec-feature .card-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 13%
}

.sec-feature .icon-group img {
    align-items: center;
}

.sec-feature p {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
}

.sec-feature .dropdown {
    display: flex;
    justify-content: space-around;
    padding-top: 21px;
    padding-bottom: 40px;
}
.sec-feature .dropdown img {
    align-items: center;
}

/* STYLE BENEFIT */

.sec-benefits {
    padding: 142px 125px;
}

.sec-benefits .text-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 82px;
}

.sec-benefits h2 {
    font-size: 48px;
    font-weight: 900;
    width: 100%;
    line-height: 54px;
}

.sec-benefits .text-group p {
    font-size: 16px;
    color: #878799;
    width: 100%;
    text-align: justify;
    line-height: 30px;
}

.sec-benefits .benefit-group {
   display: grid;
   justify-content: center;
   grid-template-columns: auto auto auto;
   gap: 32px;
   padding: 32px;
}

.sec-benefits .benefit-group .group {
    background-color: white;
    display:  flex;
    border-radius: 24px;
    width: 330px;
    padding: 16px;
    gap: 22px;
}

.sec-benefits .benefit-group .group:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sec-benefits .benefit-group .group .text {
    gap: 4px;
    align-self: center;
}

.sec-benefits .benefit-group .group h4 {
    font-size: 24px;
    color: #222F5E;
}
.sec-benefits .benefit-group .group p {
    font-size: 16px;
    color: #878799;
}

/* STYLE ABOUT US */

.sec-about-us {
    padding: 75px 125px;
}

.sec-about-us .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-about-us .content img {
    width: 579px;
}

.sec-about-us .content .right {
    align-self: center;
}

.sec-about-us .content .right h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 54px;
    margin-top: 16px;

}

.sec-about-us .content .right p {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 24px;
    padding-top: 16px;
}

/* STYLE BANNER */

.sec-banner-counter {
    padding: 93px 125px 146px;
    background-color: #FDFDFF;
}

.sec-banner-counter .content {
    background-color: #222F5E;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 90px 64px;
}

.sec-banner-counter .content .group {
    text-align: center;
    width: 15%;
    gap: 24px;
}

.sec-banner-counter .content .group h4 {
    color: white;
    font-weight: 600;
}

/* STYLE KNOWLEDGE BASE */

.sec-knowledge-base {
    padding-top: 75px;
    padding-bottom: 75px;
}

.sec-knowledge-base .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sec-knowledge-base .left {
    align-self: center;
}

.sec-knowledge-base .left h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 54px;
    margin-top: 16px;
}

.sec-knowledge-base .left p {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* STYLE MEMBER */

.sec-member {
    padding-right: 125px;
    padding-left: 125px;
}

.sec-member .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-member .heading h2 {
    color: #222F5E;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 16px;
}

.sec-member .heading .frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(122, 135, 168, .1);
    border-radius: 130px;
    padding: 10px 10px;
}

.sec-member a {
    color: #7A87A8;
    text-decoration: none;
    line-height: 30px;
}

.sec-member .heading a:hover {
    background-color: #6ED2EF;
    border-radius: 100px;
    color: white ;
    transition: 0.5s;
    padding: 10px 20px;
}

.sec-member li {
    padding: 16px 24px;
}

.sec-member .trainer-group {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    margin-top: 82px;
}

.sec-member .trainer-group .card {
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 291px;
    gap: 22px;
    padding: 16px;
    cursor: pointer;
}

.sec-member .trainer-group .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sec-member .trainer-group h4 {
    color: #222F5E;
    font-size: 24px;
    font-weight: 600px;
    line-height: 34px;
}

.sec-member .trainer-group p {
    font-size: 16px;
    line-height: 30px;
}

/* STYLE TESTIMONIAL */

.sec-testimonial {
    padding: 125px;
}

.sec-testimonial .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-testimonial .heading h2 {
    font-size: 48px;
    font-weight: 900;
    color: #222F5E;
    margin-top: 16px;
}

.sec-testimonial .content-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 34px;
}

.sec-testimonial .content-group .group {
    margin-top: 82px;
}

.sec-testimonial .content-group .group p {
    font-size: 20px;
    line-height: 34px;
    padding: 32px;
    color: white;
    border-radius: 24px;
    position: relative;
}

.sec-testimonial .content-group .group .p1::after {
    content:"";
    position: absolute;
    background-image: url(images/vector-orange.svg);
    width: 100px;
    height: 43px;
    bottom: -30px;
    left: 20px;
}

.sec-testimonial .content-group .group .p1::before {
    content: "";
    position: absolute;
    background-image: url(images/quote.svg);
    width: 70px;
    height: 70px;
    top: -50px;
    left: 20px;
}

.sec-testimonial .content-group .group .p2::after {
    content: "";
    position: absolute;
    background-image: url(images/vector-blue.svg);
    width: 100px;
    height: 43px;
    bottom: -30px;
    left: 20px;
}

.sec-testimonial .content-group .group .p2::before {
    content: "";
    position: absolute;
    background-image: url(images/quote.svg);
    width: 70px;
    height: 70px;
    top: -50px;
    left: 20px;
}

.sec-testimonial .content-group .group .p3::after {
    content: "";
    position: absolute;
    background-image: url(images/vector-yellow.svg);
    width: 100px;
    height: 43px;
    bottom: -30px;
    left: 20px;
}

.sec-testimonial .content-group .group .p3::before {
    content: "";
    position: absolute;
    background-image: url(images/quote.svg);
    width: 70px;
    height: 70px;
    top: -50px;
    left: 20px;
}

.sec-testimonial .content-group .frame {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 125px;
}

.sec-testimonial .content-group .frame h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: #222F5E;
}

.sec-testimonial .content-group .frame p {
    color: #878799;
    padding: 0px;
    font-size: 16px;
    line-height: 30px;
}

/* STYLE BANNER-ENROLL */

.sec-banner-enroll {
    padding: 0px 109px  104px;
    background-color: white;
}

.sec-banner-enroll .content {
    background-color: #222F5E;
    border-radius: 24px;
    padding: 90px 64px;
}

.sec-banner-enroll h2 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    line-height: 54px;
    text-align: center;
    padding-bottom: 32px;
}

.sec-banner-enroll .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STYLE BLOG */

.sec-blog {
    padding: 0px 125px;
}

.sec-blog .title-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
}

.sec-blog .title-content h2 {
    color: #222F5E;
    font-size: 48px;
    font-weight: 900;
}

.sec-blog .article-group .row-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
    margin-bottom: 32px;
}

.sec-blog .article-group .row-content .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 22.6%;
}

.sec-blog .article-group .row-content .blog-content img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 20px;
}

.sec-blog .article-group .row-content .blog-content img:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.sec-blog .article-group .row-content .blog-content label {
    align-items: baseline;
}

.sec-blog .article-group .row-content .blog-content h4 {
    color: #222F5E;
    font-size: 24px;
    font-weight: 600px;
    line-height: 34px;
    margin-top: 16px;
}

.sec-blog .article-group .row-content .blog-content p {
    font-size: 14px;
    line-height: 30px;
}

.sec-blog .article-group .button {
    display: flex;
    justify-content: center;
}

/* BOTTOM NAVIGATION */

.sec-bottom-navigation {
    padding-top: 207px;
}

.sec-bottom-navigation .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 75px;
}

.sec-bottom-navigation .content .heading p {
    font-size: 14px;
    line-height: 30px;
    margin-top: 24px;
}

.sec-bottom-navigation .content .link {
    font-size: 22px;
    font-weight: 600;
    color: #222F5E;
}

.sec-bottom-navigation .content a {
    text-decoration: none;
    font-size: 14px;
    color: #878799;
}

.sec-bottom-navigation .content ul {
    padding: 0px;
}

.sec-bottom-navigation .content li {
    padding-bottom: 8px;
}

.sec-bottom-navigation .content .widget {
    width: 40%;
}

.sec-bottom-navigation .content .widget h3 {
    color: #222F5E;
}